{% extends 'base.html' %}

{% block content %}


<div class="job-page">

    <!-- PAGE HEADER -->

   <div class="page-header">

        <div>

            <h6 class="fw-semibold mb-0">

                Add Jobs

            </h6>

            <p class="page-subtitle">

                Create and publish latest news updates

            </p>

        </div>

                <div class="header-right">

            <div class="banner-badge">
                Create Jobs

            </div>

            <a href="{% url 'list.jobs' %}"
               class="list-btn">

                <i class="bi bi-images"></i>

               Jobs List

            </a>

        </div>

    </div>

    <!-- CARD -->

    <div class="job-card">

        <!-- CARD TOP -->

        <div class="card-top">

            <div>

                <h5 class="card-title">

                    Create Job

                </h5>

                <p class="card-desc">

                    Add job details, descriptions and images

                </p>

            </div>

        </div>

        <!-- BODY -->

        <div class="card-body-custom">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="row g-4">

                    <!-- ICON -->

                    <div class="col-md-4">

                        <label class="form-label">

                            Job Icon

                        </label>

                        <div class="image-box">

                            <img id="preview">

                        </div>

                        <input type="file" name="icon" class="file-input" onchange="previewImage(event)">

                    </div>

                    <!-- FIELDS -->

                    <div class="col-md-8">

                        <!-- JOB TITLE -->

                        <div class="mb-4">

                            <label class="form-label">

                                Job Title

                            </label>

                            <input type="text" name="title" class="form-control-custom"
                                placeholder="eg: cook, maid, driver" required>

                        </div>

                        <!-- DESCRIPTION -->

                        <div class="mb-4">

                            <label class="form-label">

                                Description

                            </label>

                            <textarea name="description" class="textarea-custom" rows="4"
                                placeholder="Enter job description" required></textarea>

                        </div>

                        <!-- STATUS -->

                        <div class="mb-4">

                            <label class="form-label">

                                Status

                            </label>

                            <select name="status" class="form-control-custom">

                                <option value="hiring">

                                    Hiring

                                </option>

                                <option value="urgent">

                                    Urgent

                                </option>

                            </select>

                        </div>

                        <!-- JOB TYPE -->

                        <div class="mb-4">

                            <label class="form-label">

                                Job Type

                            </label>

                            <select name="job_type" class="form-control-custom">

                                <option value="full_time">

                                    Full-time

                                </option>

                                <option value="part_time">

                                    Part-time

                                </option>

                                <option value="contract">

                                    Contract

                                </option>

                            </select>

                        </div>

                        <!-- WORK MODE -->

                        <div class="mb-4">

                            <label class="form-label">

                                Work Mode

                            </label>

                            <select name="work_mode" class="form-control-custom">

                                <option value="on_site">

                                    On-site

                                </option>

                                <option value="residential">

                                    Residential

                                </option>

                                <option value="remote">

                                    Remote

                                </option>

                            </select>

                        </div>

                    </div>

                </div>

                <!-- BUTTONS -->

                <div class="form-actions">

                    <a href="{% url 'list.jobs' %}" class="back-btn">

                        Back

                    </a>

                    <button type="submit" class="save-btn">

                        Save Job

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

<!-- IMAGE PREVIEW -->

<script>

    function previewImage(event) {

        const reader = new FileReader();

        reader.onload = function () {

            document.getElementById(
                'preview'
            ).src = reader.result;

        }

        reader.readAsDataURL(
            event.target.files[0]
        );

    }

</script>

{% endblock %}